
<head>
  <title>{{title}}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand" href="#">Ace<b>Book</b></a>  		
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- Collection of nav links, forms, and other content for toggling -->
<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
  <div class="navbar-nav">
    <a href="/posts/" class="nav-item nav-link">Home</a>
    <a href="#" class="nav-item nav-link">Profile</a>			
    <a href="/logout" class="nav-item nav-link">Logout</a>
    <a href="#" class="nav-item nav-link">Contact</a>
      </div>
  <div class="navbar-nav ml-auto">
</div>
</nav>


<h1 class='h1'>Post</h1>

{{#each post}}
 
  <div class='single_post' id='{{this.id}}'>{{this.message}}</div>

   <!-- like button --> 
  <form action="/posts/id/like/new" method="post" id="likeButton">
    <input type="hidden" id="post_id" name="post_id" value="{{this.id}}">
    <button type="submit" class="centre-button" value="Submit">Like <span style="color:lemonchiffon">&#9829</span> {{../likes}}</button>
  </form>

  <form action='id/comment/new' method='POST'>
    <textarea
      style='resize:none'
      type='text'
      class='comment'
      placeholder='What do you want to comment?'
      name='text'
      rows='5'
      cols='40'
      maxlength='200'
    ></textarea>
    <input type='hidden' value='{{this.id}}' name='post_id' />
    <input type='submit' class='centre-button' value='Submit' />
  </form>
  
{{/each}}

{{#each comments}}
  <div class='comments' id='{{this.id}}'>{{this.comment}}</div>
{{/each}}