<h1 class='h1'>Post</h1>

{{#each post}}

  <div class='single_post' id='{{this.id}}'>{{this.message}}</div>

  <!-- like button --> 
  <form action="/posts/id/like/new" method="post" id="likeButton">
    <input type="text" id="user_id" name="user_id" placeholder ="User ID"><br>
    <!-- can remove above line when user_id session is set up --> 
    <input type="hidden" id="post_id" name="post_id" value="{{this.id}}"><br>
    <button type="submit" value="Submit">Like</button>
  </form>

  <form action = 'id/comment/new' method='POST'>
    <input type ='text' class ='comment' placeholder ='What do you want to comment?' name = 'text'/>
    <!-- temporary workaround till user login -->
    <input type='number' class='user_id' placeholder='userid' name='user_id' />
    <!-- temporary workaround till user login -->
    <input type='hidden' value='{{this.id}}' name='post_id'/>
    <input type ='submit' value='Submit'/>
  </form>
{{/each}}

{{#each comments}}
  <div class='comments' id='{{this.id}}'>{{this.comment}}</div>
{{/each}}
